*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body{
    width: 100%;
}

.header{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.4);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li {
    list-style: none;
    padding: 0 10px;
    position: relative;
}

.navbar li a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color:#1a1a1a;
    transition: 0.3s ease;
}

.navbar li a:hover,
.navbar li a.active {
    color: cadetblue;
}

.navbar li a.active ::after,
.navbar li a:hover::after {
    content: " ";
    width: 30%;
    height: 2px;
    background: black;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.search{
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.phonesearch{
    visibility: collapse;
    font-size: 12px;
    padding: 10px 20px;
}
.search:hover input{
    width: 150px;
}

.search input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

.box a .fas{
    color: cadetblue;
    font-size: 18px;
}

i.fas.fa-search {
    color: cadetblue;
}

.logo{
    margin-right: 10px;
}

.image-profile{
    width: 40px;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

.sub-menu-wrap{
    position:absolute;
    top: 120%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
    display: block;
}

.sub-menu{
    background: #fff;
    padding: 2%;
    margin: 20px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h3{
    font-weight: 500;
    margin: 0;
}

.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-info h3::after {
    content: none;
}

.sub-menu-hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
    font-size: 10px;
}

.sub-menu-link p{
    width: 100%;
}

.navbar li .sub-menu-link:hover::after,
.navbar li .sub-menu-link.active::after {
 content: none;
}

.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}











@media (max-width: 991px) {
    html {
      font-size: 35%;
    }
  
    .header {
      padding: 1rem 2rem;
    }

    .search{
        visibility: collapse;
    }

    .phonesearch{
        visibility: visible;
    }
  
    }